@font-face {
    font-family: minerva-modern;
    src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

*{
    
    font-family: minerva-modern, serif;

}
